@-webkit-keyframes moveUpTitle {
  0% {
    margin-top: 140px;
  }
  30% {
    margin-top: 140px;
  }
  100% {
    margin-top: 40px;
  }
}

@keyframes moveUpTitle {
  0% {
    margin-top: 140px;
  }
  30% {
    margin-top: 140px;
  }
  100% {
    margin-top: 40px;
  }
}

@-webkit-keyframes showProjectsLater {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showProjectsLater {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes projectsPointer {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  65% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: translate(-15px, -15px);
            transform: translate(-15px, -15px);
  }
}

@keyframes projectsPointer {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  65% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: translate(-15px, -15px);
            transform: translate(-15px, -15px);
  }
}

body {
  background: #0f0f0f;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}

#particles-js {
  position: fixed;
  z-index: -2;
  width: 100%;
  height: 95%;
}

.menu {
  position: fixed;
  right: 30px;
  width: 40px;
  margin-top: 30px;
}

.menu a {
  display: block;
  margin-bottom: 30px;
}

.menu img {
  width: 30px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.menu img:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  overflow: hidden;
}

.logo {
  width: 80px;
  margin-top: 30px;
}

.title {
  margin-top: 140px;
  font-size: 90px;
  color: white;
  font-weight: 200;
  letter-spacing: 4.5px;
  text-align: center;
}

.title-animation {
  -webkit-animation: moveUpTitle 2s forwards;
          animation: moveUpTitle 2s forwards;
}

.my-projects-btn {
  width: 220px;
  height: 60px;
  background: none;
  border: 2px solid white;
  border-radius: 11px;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.my-projects-btn:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background-color: #e0e0e0;
  color: #171717;
}

.projects {
  opacity: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__subtitle {
  margin-top: -1vh;
  font-size: 35px;
  color: white;
  letter-spacing: 1.2px;
  font-weight: 300;
}

.projects__button {
  min-width: 340px;
  max-width: 380px;
  height: 70px;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 200;
  margin-bottom: 15px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid white;
  background-color: #0f0f0f;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.projects__button:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  background-color: #e0e0e0;
  color: #171717;
}

.projects--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects-animation {
  -webkit-animation: showProjectsLater 1.2s forwards;
          animation: showProjectsLater 1.2s forwards;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

/* Contact Popup */
.contact-popup {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99;
  width: 500px;
  height: 470px;
  background: #313131;
  border: none;
  border-radius: 10px;
  opacity: .99;
  text-align: center;
  -webkit-box-shadow: 0 0 10px #222222;
          box-shadow: 0 0 10px #222222;
}

.contact-popup__up {
  position: relative;
  width: 500px;
  height: 40px;
  background: #525252;
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 30px;
}

.contact-popup__up-exit {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.contact-popup__input {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.contact-popup__message {
  margin-top: 20px;
  height: 200px;
  width: 290px;
  border: none;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  max-width: 90%;
  max-height: 210px;
}

.contact-popup__send {
  height: 40px;
  width: 140px;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
  color: black;
  -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  cursor: pointer;
}

.contact-popup__send:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.contact-popup--active {
  display: block;
}

/* project_popup */
.project-popup {
  display: none;
  position: absolute;
  width: 680px;
  height: 452px;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99;
  color: white;
  background-color: rgba(49, 49, 49, 0.5);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}

.project-popup__left {
  display: inline block;
  width: 280px;
  height: 452px;
  border-radius: 10px 0px 0px 10px;
  z-index: 100;
  float: left;
  font-size: 18px;
}

.project-popup__left p {
  margin-left: 45px;
}

.project-popup__left-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 195px;
  height: 166px;
  background: #DDDDDD;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 35px;
  -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1);
  transition: cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-duration: 20ms;
          transition-duration: 20ms;
}

.project-popup__left-logo img {
  width: 130px;
  -webkit-transition: 1s;
  transition: 1s;
}

.project-popup__left-logo i {
  position: absolute;
  color: black;
  font-size: 25px;
  right: 10px;
  bottom: 10px;
}

.project-popup__left-logo .pointerAnimate {
  -webkit-animation: projectsPointer 5s forwards;
          animation: projectsPointer 5s forwards;
}

.project-popup__left-logo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.project-popup__left-logo:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.project-popup__right {
  display: inline block;
  width: 400px;
  height: 452px;
  border-radius: 0px 10px 10px 0px;
  z-index: 100;
  float: left;
}

.project-popup__right-text {
  margin: 0 auto;
  width: 300px;
  height: 450px;
  font-size: 15px;
}

.project-popup__right-text h2 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 14px;
}

.project-popup__exit {
  z-index: 1000;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.project-popup--active {
  display: block;
}

/* project_popup end */
@media (max-width: 970px) {
  .menu {
    position: absolute;
  }
}

@media (max-width: 699px) {
  .project-popup {
    margin-top: 200px;
    width: 360px;
    height: 800px;
  }
  .project-popup__left {
    display: block;
    width: 360px;
    height: 380px;
  }
  .project-popup__right {
    display: block;
    width: 360px;
    height: 420px;
  }
  .project-popup__left p {
    text-align: center;
    margin-left: 0px;
  }
  .project-popup__left-logo {
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .project-popup__right-text {
    width: 300px;
    height: 450px;
  }
  .project-popup__right-text h2 {
    margin-bottom: 30px;
    margin-top: 0px;
  }
}

@media (max-width: 575px) {
  .projects__button {
    min-width: 340px;
    max-width: 400px;
  }
  .contact-popup {
    width: 350px;
  }
  .contact-popup__up {
    width: 350px;
  }
}

@media (max-width: 450px) {
  .title {
    margin-top: 13vh;
    font-size: 70px;
  }
  .projects__button {
    min-width: 300px;
    max-width: 320px;
  }
}
/*# sourceMappingURL=style.css.map */