body
{
    background: #0f0f0f;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}
.menu
{
    width: 40px;
    position: absolute;
    right: 30px;
}
.menu a
{
    display: block;
    margin-bottom: 30px;
}
.menu img
{
    width: 30px;
}
.menu img:hover
{
    transform: scale(1.07);
    transition: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
.logo
{
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.title
{
    margin-top: 100px;
    font-size: 90px;
    color: white;
    font-weight: 200;
    letter-spacing: 4.5px;
    text-align: center;
}
.subtitle
{
    margin-top: -14px;
    font-size: 35px;
    color: white;
    letter-spacing: 1.2px;
    font-weight: 300;
    text-align: center;
}
.button
{
    border: 2px solid white;
    min-width: 340px;
    max-width: 380px;
    height: 70px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 200;
    line-height: 70px;
    margin-bottom: 20px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0f0f0f;
}

.button:hover
{
    transform: scale(1.01);
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: 0.5s;
    background-color: rgb(224, 224, 224);
    color: #171717;
}
a
{
    text-decoration: none;
    color: white;
}
a:visited
{
    text-decoration: none;
    color: white;
}

#particles-js
{
    position:absolute;
    z-index: -2;
    width: 100%;
    height: 95%;
}

/* Popup */
.contact-popup
{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    width: 500px;
    height: 470px;
    background: #313131;
    border: 1px solid #707070;
    border-radius: 10px;
    opacity: 0.99;
    text-align: center;
    display:none;
}
.contact-up
{
    width: 500px;
    height: 40px;
    background: #525252;
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 30px;
}
#x
{
    float: right;
    margin-right: 10px;
    cursor:grab;
}
.input
{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#message
{
    margin-top: 20px;
    height: 200px;
    width: 290px;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
#send_submit
{
    height: 40px;
    width: 140px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 500;
}
/* popup end */


@media (max-width: 575px)
{
    .button
    {
        min-width: 340px;
        max-width: 400px;
    }
    .contact-popup
    {
        width: 350px;
    }
    .contact-up
    {
        width: 350px;
    }

@media (max-width: 450px)
{
    .title
    {
        margin-top: 13vh;
        font-size: 70px;
    }
    .button
    {
        min-width: 300px;
        max-width: 320px;
    }
}